body {
    font-size: 14pt; 
    text-align: center; 
}
 
#puzzlearea { 
    height: 400px; 
    margin: 0 auto; 
    position: relative; 
    width: 400px; 
} 

.highlight { 
    border-color: red; 
    cursor: pointer; 
} 

.puzzletile { 
    background-image: url("../background.jpeg"); 
    border: 5px solid black; 
    position: absolute; 
} 

.highlight, #output { 
    color: red; 
} 

.puzzletile, #output { 
    font-size: 40pt; 
}